<?xmlversion="1.0"encoding="UTF-8"?>
<!DOCTYPEconfigurationPUBLIC"-//mybatis.org//DTD Config 3.0//EN""http://mybatis.org/dtd/mybatis-3-config.dtd">
<configurationPUBLIC>

    <typeAliases>
        <typeAlias alias = "board" type="com.example.board.BoardVO"/>
    </typeAliases>

</configurationPUBLIC>